a{
    font-size: 25px;
    display: block;
    text-decoration: none;
}

a:visited{
    color:orange;
}
a:hover{
    text-decoration: underline;
    color: green;
}
a:active{
    color: red;
    background: #000;
}
a:focus{
    color: gray;
    background: lightgreen;
}

a.btn{
    color:#fff;
    background-color: red;
    text-decoration: none;
    display: inline-block;
    padding: 8px;
    border: 1px solid red;
    border-radius: 20px;

}
a.btn:hover{
    color: #000;
    background: rgba(255, 0, 0, .25);
    font-variant: small-caps;
}